---
name: CI/CD
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      workflow:
        required: true
        type: choice
        options:
          - lint-and-test
          - release
        description: Choose the workflow to run
        default: lint-and-test
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  python-lint-and-scan:
    if: >
      github.event_name == 'push'
      || github.event_name == 'pull_request'
      || (github.event_name == 'workflow_dispatch' && inputs.workflow == 'lint-and-test')
    uses: dceoy/gh-actions-for-devops/.github/workflows/python-package-lint-and-scan.yml@main
    with:
      package-path: .
      python-version: ${{ inputs.python-version || '3.x' }}
  python-test:
    if: >
      github.event_name == 'push'
      || github.event_name == 'pull_request'
      || (github.event_name == 'workflow_dispatch' && inputs.workflow == 'lint-and-test')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Set up uv
        uses: astral-sh/setup-uv@2c7142f755d7b37bdaea8d226073714c732889fe  # v6.4.2
      - name: Install the package
        run: >
          uv sync
      - name: Run unit tests with pytest
        run: >
          uv run pytest
  dependabot-auto-merge:
    if: >
      github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    needs:
      - python-lint-and-scan
      - python-test
    uses: dceoy/gh-actions-for-devops/.github/workflows/dependabot-auto-merge.yml@main
    permissions:
      contents: write
      pull-requests: write
      actions: read
    with:
      unconditional: true
  python-package-release:
    if: >
      github.event_name == 'push'
      || (
        github.event_name == 'workflow_dispatch'
        && (inputs.workflow == 'release' || inputs.workflow == 'lint-and-test')
      )
    uses: dceoy/gh-actions-for-devops/.github/workflows/python-package-release-on-pypi-and-github.yml@main
    permissions:
      contents: write
      id-token: write
    with:
      package-path: .
      create-releases: ${{ github.event_name == 'workflow_dispatch' && inputs.workflow == 'release' }}
      python-version: ${{ inputs.python-version || '3.x' }}
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
